@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Josefin Sans", sans-serif !important;
}

ul{
  padding: 0 !important;
  margin: 0 !important;
}
body,
h1, h2, h3, h4, h5, h6,
p, a, button, div, ul, li, span, input, label {
  font-family: "Josefin Sans", sans-serif !important;
}

.scrn-container{
  width: 90%;
  max-width: 1480px;
  margin: auto;
}

section{
  padding: 60px 0;
}

